
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

.nav {
    width: 80%;
    margin: 0 auto;
    border: 2px solid grey;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li {
    list-style: none;
    
}

.nav ul li a{
    color: grey;
    text-decoration: none;
}

.product,
.sidebar,
.header,
.homepage {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2em auto;
}

.product {
    flex-wrap: wrap;
    justify-content: space-between;
}

.product .card {
    width: 30%;
    margin-bottom: 2em;
}

.homepage{
    display: flex;
    flex-direction: column;
}

.homepage h2 {
    margin: 1em 0;
}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    background-color: rgb(249 250 251);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 80%;
}


.product-item .img{
  width:45%;
  height: 300px;
}

.product-item .info {
    max-width: 50%;
    margin-left: 1em;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 2px solid lightblue;
    justify-content: space-between;
    padding: 2em;
    margin-top: 2em;
}

.form .form-item{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

input{
    width: 70%;
    font-family: inherit;
    padding: .5em 1em;
}

button{
    background-color: lightslategray;
    border-radius: 10px;
    padding: .5em ;
    color: white;
    font-family: inherit;
    width: 70%;
    outline: none;
}

button:hover{
    cursor: pointer;
}